{
	email {$ACME_EMAIL}
	admin off
}

{$API_HOST} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}

	reverse_proxy backend:8000

	log {
		output stdout
		format json
	}
}
